﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>show.html</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <style type="text/css">
      #submit-button {
        background-color: red;
        color: white;
        width: 50%;
        margin-left: 49%;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
      }

      #author {
        border-color: black;
        width: 50%;
        float: right;
      }
    </style>
  </head>
  <!-- ===================================================================== -->
  <body>

      <!--If user is logged in then display ndessage -->
      {% if request.session.user_logged_in.logged_in == True %}
          <h1>You are logged in {{request.session.user_logged_in.first_name}}!</h1>
          <a href="/users/logout">Logout</a>
      {% endif %}

      <h2>ID: {{user.id}}</h2>
      <h2>First Name: {{user.first_name}}</h2>
      <h2>Last Name:  {{user.last_name}}</h2>
      <h3>Email: {{user.email}}</h3>
      <!--<h3>Logged-In: {{user.logged_in}}</h3>-->

      <!--TODO: Only allow logout if already logged in -->
      <a href="/users/logout">Log-out</a>

  </body>
</html>